.socket {
    top: 33%;
}

.sectiontitle {
    font-size: 5em;
}

.sectionp {
    font-size: 1em;
}

/* A B O U T */
.createtitle {
    font-size: 3em;
}

#createname {
    font-size: 3em;
}

.moodtitle {
    font-size: 5.5em;
    padding-top: 45%;
}

.moodtitle2 {
    font-size: 5.5em;
}

.subsub {
    font-size: 2em;
}

.subtitle {
    font-size: 4em;
}

#container {
    width: 90%;
}
