 <<<<<<< HEAD
.sectiontitle {
    font-size: 5em;
}

.sectionp {
    font-size: 1em;
}

.moodtitle {
    font-size: 6em;
    padding-top: 75%;
}

.moodtitle2 {
    padding-top: 10%;
    font-size: 7em;
}

.subsub {
    font-size: 2.5em;
}

.subtitle {
    font-size: 6em;
}

.socket {
    top: 40%;
}

/* A B O U T */
.createtitle {
    padding-top: 5%;
    font-size: 3em;
}

#createname {
    font-size: 3em;
}

.moodtitle {
    font-size: 4em;
    padding-top: 45%;
}

.moodtitle2 {
    font-size: 5.5em;
}

=======
.socket {
    top: 33%;
}

.sectiontitle {
    padding-top: 3%;
    font-size: 5em;
}

.sectionp {
    padding-top: 3%;
    font-size: 1em;
}

#sectiontitle2 {
    padding-top: 5%;
}
/* A B O U T */
.createtitle {
    font-size: 3em;
}

#createname {
    font-size: 3em;
}

.moodtitle {
    font-size: 5.5em;
    padding-top: 45%;
}

.moodtitle2 {
    padding-top: 10%;
    font-size: 5.5em;
}

>>>>>>> origin/master
.subsub {
    font-size: 2em;
}

.subtitle {
    font-size: 4em;
}

<<<<<<< HEAD
/* C O P I N G */ 
#sectiontitle2 {
    font-size: 5em;
}

#container {
    padding-top: 5%;
    width: 100%;
}

#r1, #r2 {
    margin: 0 2%;
    width: 98%;
    display: block;
    padding: 0 2%;
}

.item {
    width: 30%;
    float: left;
    text-align: center;
    padding: 1%;  
} 
=======
#container {
    width: 90%;
>>>>>>> origin/master
}
