/* GEN */
/* #b3daff blue */
/* #ffff99 yellow */
/* #b3b3ff indigo */
/* #ffbf80 orange */
/* #ff4d4d red */
/* #66cc66 green */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000; 
    text-align: left; 
    margin: 0 auto;
    width: 100%;
}

@font-face {
    font-family: 'Wire One', sans-serif;
}


a {
    text-decoration: none;
    color: #A7A7A7;
}

a:hover {
    opacity: 0.5;
}

#icon {
  padding-top: 10%;
}

h1 {
    margin: 0;
    font-family: 'Wire One' , sans-serif;
    font-size: 7em;
    text-align: center;
}

h2 {
    margin: 0;
    font-family: 'Wire One' , sans-serif;
    font-size: 3em;
    text-align: center;
}

section {
    margin: 0 auto; 
    display: block;  
    height: 100vh;
    text-align: center;
}

h3{
    font-family:'Wire One' , sans-serif;
    text-align: center;
    font-size: 1.5em;
}

h4{
    font-family:'Wire One' , sans-serif;
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    font-size: 1.5em;
}

nav {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    width: 100%;
    color: black;
    text-align: center;
   }

nav ul {
    height: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: inline;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover, a:active {
    opacity: 0.3;
    transition: .5s;
    color: #000;
}
nav ul li:hover > ul {
    display: block;
}

.section {
  padding-bottom: 20%;
}

.para {
    font-size: 1.5em; 
    text-align: left;
    line-height: 22pt;
    margin: auto;
    width: 60%;
    padding-top: 1%;
}

#secondPage{
    background-color: #e6e6e6;
}

#lastPage {
    background-color: #e6e6e6;
}

.creators{
    text-align: center;
}

.mood { 
   border:1px solid #021a40;
}

.row {
    width: 85%;
    display: block;
    text-align: center;
}

.item {
    width: 30%;
    float: left;
    text-align: center;
    padding: 1%;
}


.moodheader {
    padding-top: 30%;
}
.subhead {
  font-size: 4.3em;
}

.sad {
    background-color: #b3daff;
}

.anxious {
    background-color: #ffff99;
}

.unfocused {
    background-color: #b3b3ff;
}

.manic {
    background-color: #ffbf80;
}

.angry {
    background-color: #ff4d4d;
}

.stressed {
    background-color: #item;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color:black;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: black;
}

input::placeholder, textarea::placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: black;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: black;
  font-size: 2em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: black;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: black;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color:black;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: black;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: black;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Wire One', sans-serif;
  font-size: 3em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: black;
  color: black;
  
  border: solid 1px black;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: black;
  
  color: black;
  font-family: 'Wire One', sans-serif;
  font-size: 2.5em;
  
  border: solid 1px black;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: black;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Wire One', sans-serif;
  font-size: 3em;
  color: black;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px black;
  border-top: none;
}

#submit:hover {
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: inherit;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
.popup h3 {
  text-align: left;
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.popup ul a {
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.popup ol {
  text-align: left;
  font-size: 1em;
}
.popup p {
  font-size: 1.3em;
}
.selfcare li {
  font-size: .95em;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}